.application-list-item {
    margin: 20px;
    width: 80%;
    display: inline-flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
.application-description{
    font-weight: bold;
    font-size: 130%;
}
.pending{
    color: yellow;
}
.rejected{
    color: red;
}
.accepted{
    color: green;
}