<div class="spinner" *ngIf="loading"></div>
<h2>{{companyInfo.name}}</h2>
<img [src]="userService.getPictureUrl(companyInfo?.username)" class="main-img">
<h3>Info:</h3>
<div class="row">
  <div class="col-sm-3 prop-name">
    City
  </div>
  <div class="col-sm-4">
    {{companyInfo.city}}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 prop-name">
    Area
  </div>
  <div class="col-sm-4">
    {{companyInfo.area}}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 prop-name">
    Specialty
  </div>
  <div class="col-sm-4">
    {{companyInfo.specialty}}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 prop-name">
    Email
  </div>
  <div class="col-sm-4">
    <a href="mailto:{{companyInfo.email}}">{{companyInfo.email}}</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 prop-name">
    Website
  </div>
  <div class="col-sm-4">
    <a href="{{companyInfo.site}}">{{companyInfo.site}}</a>
  </div>
</div>
<h3>Job offers and internships</h3>
<div class="spinner" *ngIf="offersLoading"></div>
<app-offer-list-item [offer]="offer" *ngFor="let offer of offers"></app-offer-list-item>
