.company-list-item {
    margin: 20px;
    width: 260px;
    display: inline-flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
.company-list-item-inner {
    display: block;
    width: 100%;
    height: 100%;
}
.company-list-item-name {
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #428bca;
    margin-top: 10px;
}
.company-list-item-inner-sep {
    width: 100%;
    margin-top: 0px;
}
.company-list-item-picture {
    width: 210px;
    max-height: 120px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}