<form #setPasswordForm="ngForm" (ngSubmit)="setPassword()">
  <div class="form-horizontal">
    <h2>Set password</h2>
    <p class="errmsg" *ngIf="errMsg">{{errMsg}}</p>
    <p *ngIf="notifMsg">{{notifMsg}}</p>
    <div class="form-group">
      <div class="col-md-10">
        <label for="passwordField">Old password</label>
        <br><span class="errmsg" [hidden]="passwordField.valid || passwordField.pristine">Required</span>
        <input [(ngModel)]="password" required name="passwordField" #passwordField="ngModel" class="form-control"
          placeholder="Password" type="password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <label for="newPasswordField">Old password</label>
        <br><span class="errmsg" [hidden]="newPasswordField.valid || newPasswordField.pristine">Required</span>
        <input [(ngModel)]="newPassword" required name="newPasswordField" #newPasswordField="ngModel" class="form-control"
          placeholder="New password" type="password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <input type="submit" [disabled]="!setPasswordForm.form.valid" value="Set password" class="btn btn-default" />
      </div>
    </div>
  </div>
</form>