<form #cvEntryForm="ngForm" (ngSubmit)="enterCV()">
  <div class="form-horizontal">
    <h2>CV entry</h2>
    <p class="errmsg" *ngIf="errMsg">{{errMsg}}</p>
    <p *ngIf="infoMsg">{{infoMsg}}</p>
    <div class="form-group">
      <h3>Application type</h3>
      <span [hidden]="appType.valid"><br /><span class="errmsg">Required</span><br /></span>
      <div class="row">
        <div class="col-sm-3">
          <select class="form-control" required #appType="ngModel" id="sel1" [(ngModel)]="cv.type" name="appType">
            <option *ngFor="let appType of applicationTypes" [value]="appType">{{appType}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h3>Education</h3>
      <div class="row" *ngFor="let education of cv.education">
        <div class="col-sm-3">
          <input type="text" class="form-control" [name]="'description0'+cv.education.indexOf(education)" placeholder="Description" [(ngModel)]="education.description">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [name]="'start0'+cv.education.indexOf(education)" placeholder="Start" [(ngModel)]="education.from" type="date">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [name]="'end0'+cv.education.indexOf(education)" placeholder="End" [(ngModel)]="education.to" type="date">
        </div>
        <button type="button" class="btn btn-default" (click)="deleteEducation(education)">Delete</button>
      </div>
      <button type="button" class="btn btn-default" (click)="addEducation()">Add</button>
    </div>
    <div class="form-group">
      <h3>Experience</h3>
      <div class="row" *ngFor="let experience of cv.experience">
        <div class="col-sm-3">
          <input type="text" class="form-control" [name]="'description1'+cv.experience.indexOf(experience)" placeholder="Description" [(ngModel)]="experience.description">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [name]="'start1'+cv.experience.indexOf(experience)" placeholder="Start" [(ngModel)]="experience.from" type="date">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [name]="'end1'+cv.experience.indexOf(experience)" placeholder="End" [(ngModel)]="experience.to" type="date">
        </div>
        <button type="button" class="btn btn-default" (click)="deleteExperience(experience)">Delete</button>
      </div>
      <button type="button" class="btn btn-default" (click)="addExperience()">Add</button>
    </div>
    <div class="form-group">
      <h3>Mother tongue</h3>
      <br /><span class="errmsg" [hidden]="motherTongue.valid">Required</span><br />
      <div class="col-md-10">
        <input class="form-control" #motherTongue="ngModel" required [(ngModel)]="cv.motherTongue" name="motherTongue" />
      </div>
    </div>
    <div class="form-group">
        <h3>Languages</h3>
        <div class="row" *ngFor="let language of cv.languages">
          <div class="col-sm-3">
            <input type="text" class="form-control" [name]="'description2'+cv.languages.indexOf(language)" placeholder="Language" [(ngModel)]="language.description">
          </div>
          <button type="button" class="btn btn-default" (click)="deleteLanguage(language)">Delete</button>
        </div>
        <button type="button" class="btn btn-default" (click)="addLanguage()">Add</button>
      </div>
      <div class="form-group">
          <h3>Skills</h3>
          <div class="row" *ngFor="let skill of cv.skills">
            <div class="col-sm-3">
              <input type="text" class="form-control" [name]="'description3'+cv.skills.indexOf(skill)" placeholder="Skill" [(ngModel)]="skill.description">
            </div>
            <button type="button" class="btn btn-default" (click)="deleteSkill(skill)">Delete</button>
          </div>
          <button type="button" class="btn btn-default" (click)="addSkill()">Add</button>
        </div>
    <div class="form-group">
      <div class="col-md-10">
        <input type="submit" [disabled]="!cvEntryForm.form.valid" value="Enter CV" class="btn btn-default" />
      </div>
    </div>
  </div>

</form>