.motivational-letter-text{
    white-space:pre-wrap;
}
.main-img{
    max-width: 40%;
    max-height: 200px;
}
.pending{
    color: yellow;
}
.rejected{
    color: red;
}
.accepted{
    color: green;
}
.btn{
    width: 100%
}