.main-img{
    max-width: 40%;
    max-height: 400px;
}
.long-description{
    white-space:pre-wrap;
}
.pack-name{
    font-weight: bold;
    font-size: 120%;
}
.pending{
    color: yellow;
    font-size: 120%;
    font-weight: bold;
}
.rejected{
    color: red;
    font-size: 120%;
    font-weight: bold;
}
.accepted{
    color: green;
    font-size: 120%;
    font-weight: bold;
}